@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rajdhani|Roboto&display=swap');
body {
  zoom: 0.8;
  margin: 0;
  // font-family: 'Rajdhani', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.mf-layout {
  width: 100vw;
}
